

	<div id="buttons"> 
   
        <a href="/inici?$modena=do-vic"><strong>Inici</strong></a>
        <a href="/descobreix?$modena=do-vic"><strong>Descobreix-nos</strong></a>
        <a href="/cuina?$modena=do-vic"><strong>La nostra cuina</strong></a>
        <a href="/reservar?$modena=do-vic"><strong>Reservar</strong></a>
        <a href="/contacte?$modena=do-vic"><strong>Contacte</strong></a>
                       
    </div>
    
    <div id="Linia"></div>